@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto");
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000066; }

h1.headline {
  color: white; }

a:hover {
  background-color: #007bff;
  color: white;
  text-decoration: none; }
